style.
    .header {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 15px;
    }
    .content {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .italic {
        font-size: 14px;
        font-style: italic;
    }


div
    div.header B.A.P project alert
    div.content Reason:
        each message in messages
            div.content.italic - #{message}
    div.content At: #{timestamp}